{% assign home_class = '' %}
{%- if page.url == '/' -%}
{%- assign home_class = 'home' -%}
{%- endif -%}

<div class="cover {{home_class}}">
    
    {%- if page.url == '/' -%}
    <picture>
      <source srcset="/assets/images/covers/home_top_s_op.webp" type="image/webp" media="(max-width: 640px)">
      <source srcset="/assets/images/covers/home_top_m_op.webp" type="image/webp" media="(min-width: 641px) and (max-width: 1023px)">
      <source srcset="/assets/images/covers/home-op.webp" type="image/webp" media="(min-width: 1024px)">
      <img src="/assets/images/covers/home-op.webp" alt="home top cover">
    </picture>
    {%- elsif page.url == '/blog/' or page.url contains '/category' -%}
    <div class="img" style="background-image:url('{{site.blog_cover}}');"></div>
    {%- else -%}
    <div class="img" style="background-image:url('{{site.blog_cover}}');"></div>
    {%- endif-%}
    
    {%- if page.url == '/' -%}
    <div class="container cover">
    {%- endif -%}

    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    {%- if page.url == '/' -%}
        <p class="main-desc">A <a href="{{site.baseurl}}/workshop/2024/04/28/search-for-west-greenland-kayak.html">unique type of watercraft</a> built for rough sea conditions and hunting. It's hard to call them replicas, but Man Boat builds a very similar type of kayak.</p>
    {%- endif -%}

    {%- if page.url == '/' -%}
    </div>
    {%- endif -%}
  </div>