{% assign home_class = '' %}
{%- if page.url == '/' -%}
{%- assign home_class = 'home' -%}
{%- endif -%}

<div class="cover {{home_class}}">
    
    {%- if page.url == '/' -%}
    <div class="img"></div>
    {%- elsif page.url == '/blog/' or page.url contains '/category' -%}
    <div class="img" style="background-image:url('{{site.blog_cover}}');"></div>
    {%- else -%}
    <div class="img" style="background-image:url('{{site.blog_cover}}');"></div>
    {%- endif-%}
    
    {%- if page.url == '/' -%}
    <div class="container cover">
    {%- endif -%}


    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}
    {%- if page.url == '/' and site.cover_paragraph -%}
        <p>{{ site.cover_paragraph }}</p>
    {%- endif -%}

    {%- if page.url == '/' -%}
    </div>
    {%- endif -%}


  </div>

  <style>
    @media only screen and (max-width: 800px) {
      .page-content .cover.home:first-child .img{
        background-image: url('/assets/images/covers/home_mobile.webp');
      }
    }
    @media only screen and (min-width: 801px) {
      .page-content .cover.home:first-child .img{
        background-image: url('/assets/images/covers/home.webp');
      }
    }
  </style>