@use "sass:color";
@use "fonts";
@use "defaults";
@use "mixins";

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
body {
  font: defaults.$base-font-weight #{defaults.$base-font-size}/#{defaults.$base-line-height} defaults.$base-font-family;
  color: defaults.$text-color;
  background-color: defaults.$background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: calc(defaults.$spacing-unit / 2);
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: defaults.$small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: defaults.$spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-family: defaults.$heading-font-family;
  font-weight: defaults.$base-font-weight;
}



/**
 * Links
 */
a {
  color: defaults.$brand-color;
  text-decoration: none;

  &:visited {
    color: defaults.$brand-color;
  }

  &:hover {
    color: defaults.$brand-color;
    text-decoration: none;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: defaults.$grey-color;
  border-left: 4px solid defaults.$grey-color-light;
  padding-left: calc(defaults.$spacing-unit / 2);
  @include mixins.relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include mixins.relative-font-size(0.9375);
  border: 1px solid defaults.$grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{defaults.$content-width} - (#{defaults.$spacing-unit} * 2));
  max-width:         calc(#{defaults.$content-width} - (#{defaults.$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: defaults.$spacing-unit;
  padding-left: defaults.$spacing-unit;
  @extend %clearfix;

  @include mixins.media-query(defaults.$on-laptop) {
    max-width: -webkit-calc(#{defaults.$content-width} - (#{defaults.$spacing-unit}));
    max-width:         calc(#{defaults.$content-width} - (#{defaults.$spacing-unit}));
    padding-right: calc(defaults.$spacing-unit / 2);
    padding-left: calc(defaults.$spacing-unit / 2);
  }
}

.page-content {
  .wrapper {
    max-width: 1200px;
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{defaults.$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list li { 
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;

  a {
    display: block;
    padding: 5px 10px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: defaults.$spacing-unit;
  width: 100%;
  text-align: defaults.$table-text-align;
  color: color.adjust(defaults.$text-color, $lightness: 18%, $space: hsl);
  border-collapse: collapse;
  border: 1px solid defaults.$grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: color.adjust(defaults.$grey-color-light, $lightness: 6%, $space: hsl);
    }
  }
  th, td {
    padding: calc(defaults.$spacing-unit / 3) calc(defaults.$spacing-unit / 2);
  }
  th {
    background-color: color.adjust(defaults.$grey-color-light, $lightness: 3%, $space: hsl);
    border: 1px solid color.adjust(defaults.$grey-color-light, $lightness: -4%, $space: hsl);
    border-bottom-color: color.adjust(defaults.$grey-color-light, $lightness: -12%, $space: hsl);
  }
  td {
    border: 1px solid defaults.$grey-color-light;
  }
}



/**
 * Cover
 */

.cover {
    position: relative;
    min-height: 200px;

    .img {
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 200px;
      background-position: 50% 50%;

      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: #000;
        opacity: 0.4;
      }
    }

    &.home {
      min-height: 100vh;
      .img {
        background-attachment: fixed;
        height: 100%;
      }
      .container.cover {
        position: absolute;
        width: 100%;
        top: 30%;
        p {
          color: defaults.$background-color;
          display: block;
          max-width: 520px;
          padding: 0 20px;
          margin: 0 auto;
          text-align: center;
        }
      }
    }
}

.wrapper {
  & + .cover.home {
    .img {
      @include mixins.media-query(defaults.$on-palm) {
        background-position: 45% 50%;
      }
    }
  }
}

.page-content.home {
  .container.home {
    background-color: defaults.$background-color;
    padding-top: 2px;
  }
  & > .cover.home {
    img {
      position: fixed;
      object-fit: cover;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

  }
}

.hover-img-effect {
  overflow: hidden;
  @include mixins.min-media-query(defaults.$on-laptop) {
    img {
      -webkit-transition: opacity .5s ease,transform .5s ease;
      -moz-transition: opacity .5s ease,transform .5s ease;
      -ms-transition: opacity .5s ease,transform .5s ease;
      -o-transition: opacity .5s ease,transform .5s ease;
      transition: opacity .5s ease,transform .5s ease;
  
      &:hover {
        -moz-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -o-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}

button {
  background-color: defaults.$background-color;
  border: 2px solid defaults.$text-color;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
}

p {
  max-width: 700px;
  margin: 0 auto;
}

.contact {
  margin: 60px 0;

  .email {
    margin-bottom: 30px;
    text-align: center;
  }

  .post-socials p {
    margin: 0 auto 10px auto;
  }
}

.iframe {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  .iframe-wrapper {
    height: 0;
    margin: auto;
    z-index: 1;
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    display: block;
    overflow: hidden;
  }
  iframe {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    position: absolute;
  }
}

html, body {
    height:100%;
    width:100%;
    margin:0;
}