// Fonts Faces

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url("./fonts/Montserrat-Light.woff2") format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Montserrat-Regular.woff2") format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Montserrat-SemiBold.woff2") format('woff2');
}
@font-face {
  font-family: 'Good Times';
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/GoodTimes.woff2") format('woff2');
}
