<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {%- include cover.html -%}
      <div class="wrapper ">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    {%- if page.url != '/creations/' and page.url contains '/creations/' or page.layout == 'post' -%}
    <script src="/assets/js/fslightbox.js"></script>
    {%- endif -%}
    <script src="/assets/js/dom.js" defer></script>
  </body>

</html>
